
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/39a084da-c166-481c-9a82-1525ba463c5f.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/Professor.iml
.idea/vcs.xml
.idea/workspace.xml
api/__pycache__/models.cpython-37.pyc
api/apis/main_page/__pycache__/api.cpython-37.pyc
api/apis/main_page/__pycache__/forms.cpython-37.pyc
api/db_models/__pycache__/professor.cpython-37.pyc
api/db_models/__pycache__/student.cpython-37.pyc
api/db_models/__pycache__/universities.cpython-37.pyc
api/db_models/__pycache__/university_member_base.cpython-37.pyc
api/apis/main_page/__pycache__/api.cpython-37.pyc
api/apis/main_page/__pycache__/forms.cpython-37.pyc
api/db_models/__pycache__/professor.cpython-37.pyc
api/db_models/__pycache__/student.cpython-37.pyc
api/db_models/__pycache__/universities.cpython-37.pyc
api/db_models/__pycache__/university_member_base.cpython-37.pyc
api/apis/main_page/__pycache__/api.cpython-37.pyc
api/apis/main_page/__pycache__/forms.cpython-37.pyc
api/db_models/__pycache__/professor.cpython-37.pyc
api/db_models/__pycache__/student.cpython-37.pyc
api/db_models/__pycache__/universities.cpython-37.pyc
api/db_models/__pycache__/university_member_base.cpython-37.pyc
