.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 553px;
}

.u-section-1 .u-tabs-1 {
  min-height: 535px;
  height: auto;
  width: 1076px;
  margin: 18px auto 0;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  line-height: 1.8;
  margin: 0 80px;
}

.u-section-1 .u-table-1 {
  width: 856px;
  margin: 38px auto 0;
}

.u-section-1 .u-table-entity-1 {
  height: 185px;
}

.u-section-1 .u-table-header-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  margin: 0 110px;
}

.u-section-1 .u-table-2 {
  width: 856px;
  margin: 38px auto 0;
}

.u-section-1 .u-table-header-2 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
}

.u-section-1 .u-table-cell-20 {
  background-image: none;
}

.u-section-1 .u-table-cell-22 {
  background-image: none;
}

.u-section-1 .u-table-cell-23 {
  background-image: none;
}

.u-section-1 .u-table-cell-24 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 410px;
  }

  .u-section-1 .u-tabs-1 {
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 12px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 42px;
    margin-left: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-tabs-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-table-1 {
    width: 660px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-table-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-tabs-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-table-1 {
    width: 520px;
  }

  .u-section-1 .u-table-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 320px;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
  }
}.u-section-2 {
  background-image: url("images/163814318-0.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1348px;
}

.u-section-2 .u-form-1 {
  height: 134px;
  width: 626px;
  margin: 60px auto;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-2 .u-form-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 852px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 639px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }
}